<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.telecomyt.item.web.mapper.LogMapper">

    <!--添加日志信息-->
    <insert id="add" parameterType="com.telecomyt.item.entity.log.SysLog" useGeneratedKeys="true" keyColumn="id">
        insert into tb_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="type != null" >
                `type`,
            </if>
            <if test="title != null" >
                title,
            </if>
            <if test="createUser != null" >
                create_user,
            </if>
            <if test="createTime != null" >
                create_time ,
            </if>
            <if test="updateTime != null" >
                update_time,
            </if>
            <if test="remoteAddr != null" >
                remote_addr,
            </if>
            <if test="requestUri != null" >
                request_uri,
            </if>
            <if test="params != null" >
                params,
            </if>
            <if test="time != null" >
                cost_time,
            </if>
            <if test="returnMsg != null" >
                return_msg,
            </if>
            <if test="userAgent != null" >
                user_agent,
            </if>
            <if test="exception != null" >
                `exception`,
            </if>
        </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="type != null">
                #{type},
            </if>
            <if test="title != null">
                #{title},
            </if>
            <if test="createUser != null">
                #{createUser},
            </if>
            <if test="createTime != null">
                #{createTime},
            </if>
            <if test="updateTime != null">
                #{updateTime},
            </if>
            <if test="remoteAddr != null">
                #{remoteAddr},
            </if>
            <if test="requestUri != null">
                #{requestUri},
            </if>
            <if test="params != null">
                #{params},
            </if>
            <if test="time != null">
                #{time},
            </if>
            <if test="returnMsg != null">
                #{returnMsg},
            </if>
            <if test="userAgent != null">
                #{userAgent},
            </if>
            <if test="exception != null">
                #{exception},
            </if>
        </trim>
    </insert>

</mapper>

