<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.telecomyt.item.web.mapper.ScheduleGroupMapper">
  <resultMap id="BaseResultMap" type="com.telecomyt.item.entity.ScheduleGroup">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="creator_cardid" jdbcType="CHAR" property="creatorCardid" />
    <result column="schedule_title" jdbcType="VARCHAR" property="scheduleTitle" />
    <result column="schedule_describe" jdbcType="VARCHAR" property="scheduleDescribe" />
    <result column="start_time" jdbcType="TIMESTAMP" property="startTime" />
    <result column="end_time" jdbcType="TIMESTAMP" property="endTime" />
    <result column="is_repeat" jdbcType="BIT" property="isRepeat" />
    <result column="repeat_rules" jdbcType="BIT" property="repeatRules" />
    <result column="start_week" jdbcType="BIT" property="startWeek" />
    <result column="end_week" jdbcType="BIT" property="endWeek" />
    <result column="start_day_month" jdbcType="TINYINT" property="startDayMonth" />
    <result column="end_day_month" jdbcType="TINYINT" property="endDayMonth" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>
  <sql id="Base_Column_List">
    id, creator_cardid, schedule_title, schedule_describe, start_time, end_time, is_repeat, 
    repeat_rules, start_week, end_week, start_day_month, end_day_month, create_time, 
    update_time
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_schedule_group
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_schedule_group
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.telecomyt.item.entity.ScheduleGroup">
    insert into tb_schedule_group (id, creator_cardid, schedule_title, 
      schedule_describe, start_time, end_time, 
      is_repeat, repeat_rules, start_week, 
      end_week, start_day_month, end_day_month, 
      create_time, update_time)
    values (#{id,jdbcType=INTEGER}, #{creatorCardid,jdbcType=CHAR}, #{scheduleTitle,jdbcType=VARCHAR}, 
      #{scheduleDescribe,jdbcType=VARCHAR}, #{startTime,jdbcType=TIMESTAMP}, #{endTime,jdbcType=TIMESTAMP}, 
      #{isRepeat,jdbcType=BIT}, #{repeatRules,jdbcType=BIT}, #{startWeek,jdbcType=BIT}, 
      #{endWeek,jdbcType=BIT}, #{startDayMonth,jdbcType=TINYINT}, #{endDayMonth,jdbcType=TINYINT}, 
      #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP})
  </insert>
  <insert id="insertSelective" parameterType="com.telecomyt.item.entity.ScheduleGroup">
    insert into tb_schedule_group
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="creatorCardid != null">
        creator_cardid,
      </if>
      <if test="scheduleTitle != null">
        schedule_title,
      </if>
      <if test="scheduleDescribe != null">
        schedule_describe,
      </if>
      <if test="startTime != null">
        start_time,
      </if>
      <if test="endTime != null">
        end_time,
      </if>
      <if test="isRepeat != null">
        is_repeat,
      </if>
      <if test="repeatRules != null">
        repeat_rules,
      </if>
      <if test="startWeek != null">
        start_week,
      </if>
      <if test="endWeek != null">
        end_week,
      </if>
      <if test="startDayMonth != null">
        start_day_month,
      </if>
      <if test="endDayMonth != null">
        end_day_month,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="creatorCardid != null">
        #{creatorCardid,jdbcType=CHAR},
      </if>
      <if test="scheduleTitle != null">
        #{scheduleTitle,jdbcType=VARCHAR},
      </if>
      <if test="scheduleDescribe != null">
        #{scheduleDescribe,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isRepeat != null">
        #{isRepeat,jdbcType=BIT},
      </if>
      <if test="repeatRules != null">
        #{repeatRules,jdbcType=BIT},
      </if>
      <if test="startWeek != null">
        #{startWeek,jdbcType=BIT},
      </if>
      <if test="endWeek != null">
        #{endWeek,jdbcType=BIT},
      </if>
      <if test="startDayMonth != null">
        #{startDayMonth,jdbcType=TINYINT},
      </if>
      <if test="endDayMonth != null">
        #{endDayMonth,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.telecomyt.item.entity.ScheduleGroup">
    update tb_schedule_group
    <set>
      <if test="creatorCardid != null">
        creator_cardid = #{creatorCardid,jdbcType=CHAR},
      </if>
      <if test="scheduleTitle != null">
        schedule_title = #{scheduleTitle,jdbcType=VARCHAR},
      </if>
      <if test="scheduleDescribe != null">
        schedule_describe = #{scheduleDescribe,jdbcType=VARCHAR},
      </if>
      <if test="startTime != null">
        start_time = #{startTime,jdbcType=TIMESTAMP},
      </if>
      <if test="endTime != null">
        end_time = #{endTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isRepeat != null">
        is_repeat = #{isRepeat,jdbcType=BIT},
      </if>
      <if test="repeatRules != null">
        repeat_rules = #{repeatRules,jdbcType=BIT},
      </if>
      <if test="startWeek != null">
        start_week = #{startWeek,jdbcType=BIT},
      </if>
      <if test="endWeek != null">
        end_week = #{endWeek,jdbcType=BIT},
      </if>
      <if test="startDayMonth != null">
        start_day_month = #{startDayMonth,jdbcType=TINYINT},
      </if>
      <if test="endDayMonth != null">
        end_day_month = #{endDayMonth,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        update_time = #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.telecomyt.item.entity.ScheduleGroup">
    update tb_schedule_group
    set creator_cardid = #{creatorCardid,jdbcType=CHAR},
      schedule_title = #{scheduleTitle,jdbcType=VARCHAR},
      schedule_describe = #{scheduleDescribe,jdbcType=VARCHAR},
      start_time = #{startTime,jdbcType=TIMESTAMP},
      end_time = #{endTime,jdbcType=TIMESTAMP},
      is_repeat = #{isRepeat,jdbcType=BIT},
      repeat_rules = #{repeatRules,jdbcType=BIT},
      start_week = #{startWeek,jdbcType=BIT},
      end_week = #{endWeek,jdbcType=BIT},
      start_day_month = #{startDayMonth,jdbcType=TINYINT},
      end_day_month = #{endDayMonth,jdbcType=TINYINT},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      update_time = #{updateTime,jdbcType=TIMESTAMP}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>