<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.telecomyt.item.web.mapper.ScheduleInfoMapper">
  <resultMap id="BaseResultMap" type="com.telecomyt.item.entity.ScheduleInfo">
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="group_id" jdbcType="INTEGER" property="groupId" />
    <result column="creator_cardid" jdbcType="CHAR" property="creatorCardid" />
    <result column="affiliated_cardid" jdbcType="CHAR" property="affiliatedCardid" />
    <result column="is_delete" jdbcType="BIT" property="isDelete" />
  </resultMap>
  <sql id="Base_Column_List">
    id, group_id, creator_cardid, affiliated_cardid, is_delete
  </sql>
  <select id="selectByPrimaryKey" parameterType="java.lang.Integer" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from tb_schedule_info
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer">
    delete from tb_schedule_info
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.telecomyt.item.entity.ScheduleInfo">
    insert into tb_schedule_info (id, group_id, creator_cardid, 
      affiliated_cardid, is_delete)
    values (#{id,jdbcType=INTEGER}, #{groupId,jdbcType=INTEGER}, #{creatorCardid,jdbcType=CHAR}, 
      #{affiliatedCardid,jdbcType=CHAR}, #{isDelete,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.telecomyt.item.entity.ScheduleInfo">
    insert into tb_schedule_info
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="id != null">
        id,
      </if>
      <if test="groupId != null">
        group_id,
      </if>
      <if test="creatorCardid != null">
        creator_cardid,
      </if>
      <if test="affiliatedCardid != null">
        affiliated_cardid,
      </if>
      <if test="isDelete != null">
        is_delete,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="id != null">
        #{id,jdbcType=INTEGER},
      </if>
      <if test="groupId != null">
        #{groupId,jdbcType=INTEGER},
      </if>
      <if test="creatorCardid != null">
        #{creatorCardid,jdbcType=CHAR},
      </if>
      <if test="affiliatedCardid != null">
        #{affiliatedCardid,jdbcType=CHAR},
      </if>
      <if test="isDelete != null">
        #{isDelete,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.telecomyt.item.entity.ScheduleInfo">
    update tb_schedule_info
    <set>
      <if test="groupId != null">
        group_id = #{groupId,jdbcType=INTEGER},
      </if>
      <if test="creatorCardid != null">
        creator_cardid = #{creatorCardid,jdbcType=CHAR},
      </if>
      <if test="affiliatedCardid != null">
        affiliated_cardid = #{affiliatedCardid,jdbcType=CHAR},
      </if>
      <if test="isDelete != null">
        is_delete = #{isDelete,jdbcType=BIT},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.telecomyt.item.entity.ScheduleInfo">
    update tb_schedule_info
    set group_id = #{groupId,jdbcType=INTEGER},
      creator_cardid = #{creatorCardid,jdbcType=CHAR},
      affiliated_cardid = #{affiliatedCardid,jdbcType=CHAR},
      is_delete = #{isDelete,jdbcType=BIT}
    where id = #{id,jdbcType=INTEGER}
  </update>

  <!--批量插入-->
  <insert id="insertList" parameterType="com.telecomyt.item.entity.ScheduleInfoDo">
    insert into tb_schedule_info (group_id, creator_cardid, affiliated_cardid, is_delete)
    values
    <foreach collection="affiliatedCardids" separator="," item="affiliatedCardid" >
      (#{groupId},#{creatorCardid},#{affiliatedCardid},#{isDelete})
    </foreach>
  </insert>

  <!--查询不重复日程-->
  <select id="queryScheduleListByNoRepeat" resultType="com.telecomyt.item.dto.ScheduleInfoDto">
      SELECT
          i.id,
          g.id AS groupId,
          i.creator_cardid AS creatorCardid,
          i.affiliated_cardid AS cardid,
          g.schedule_title AS title,
          g.schedule_describe AS scheduleDescribe,
          g.start_time AS startTime,
          g.end_time AS endTime
      FROM tb_schedule_info i JOIN tb_schedule_group g
      ON i.group_id = g.id
      WHERE i.affiliated_cardid = #{cardid}
      AND g.is_repeat = 0
      AND (g.start_time BETWEEN #{startTime} AND #{endTime}
      OR g.end_Time BETWEEN #{startTime} AND #{endTime})
      AND i.is_delete = 0
  </select>

  <!--查询重复日程-->
  <select id="queryScheduleListByRepeat" resultType="com.telecomyt.item.dto.ScheduleInfoDto">
      SELECT
          i.id,
          g.id AS groupId,
          i.creator_cardid AS creatorCardid,
          i.affiliated_cardid AS cardid,
          g.schedule_title AS title,
          g.schedule_describe AS scheduleDescribe,
          g.start_time AS startTime,
          g.end_time AS endTime ,
          g.start_week AS startWeek ,
          g.end_week AS endWeek ,
          g.`start_day_month` AS startDayMonth,
          g.`end_day_month` AS endDayMonth
      FROM tb_schedule_info i JOIN tb_schedule_group g
      ON i.group_id = g.id
      WHERE i.affiliated_cardid = #{cardid}
      AND i.is_delete = 0
      AND g.is_repeat = 1
      AND g.repeat_rules = #{repeatRules}
      <choose>
        <when test="dateType == 1 and repeatRules == 2 and startWeek != null and endWeek != null" >
           AND (g.start_week = #{startWeek} or g.end_week = #{endWeek} )
        </when>
        <when test="dateType == 1 and repeatRules == 3 and startDayMonth != null and endDayMonth != null" >
          <!-- AND (g.start_day_month = #{startDayMonth} or g.end_day_month = #{endDayMonth} ) -->
          AND (g.start_day_month BETWEEN #{startDayMonth} AND #{endDayMonth} or g.end_day_month BETWEEN #{startDayMonth} AND #{endDayMonth} )
        </when>
        <when test="dateType == 2 and repeatRules == 3 and startDayMonth != null and endDayMonth != null" >
          AND (g.start_day_month BETWEEN #{startDayMonth} AND #{endDayMonth} or g.end_day_month BETWEEN #{startDayMonth} AND #{endDayMonth} )
        </when>
      </choose>
  </select>

  <!--查询关联人-->
  <select id="queryAffiliatedCardids" resultType="java.lang.String">
        SELECT affiliated_cardid
        FROM tb_schedule_info
        WHERE group_id = #{groupId}
        AND is_delete = 0
  </select>


</mapper>