
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.telecomyt.item.web.mapper.TaskMapper">
    <!--新增组-->
    <insert id="insertGroup" useGeneratedKeys="true" keyProperty="groupId" keyColumn="group_id" parameterType="com.telecomyt.zhang.entity.Group">
        insert into db_sheet_group (creator_cardid,sheet_title,sheet_describe,end_time) values (#{creatorCardid},#{sheetTitle},#{sheetDescribe},#{endTime})
    </insert>

    <!--新增任务-->
    <insert id="insertTask" useGeneratedKeys="true" keyProperty="taskId" keyColumn="task_id" parameterType="com.telecomyt.zhang.entity.Task">
        insert into db_sheet_task(task_cardid,group_id,task_type,task_state,task_main,task_endtime,task_file) values (#{taskCardid},#{groupId},#{taskType},#{taskState},#{taskMain},#{taskEndTime},#{taskFile})
    </insert>
    <!--新增日志-->
    <insert id="insertLog" useGeneratedKeys="true" keyProperty="logId" keyColumn="log_id" parameterType="com.telecomyt.zhang.entity.Log">
        insert into db_sheet_log (group_id,log_time,log_picture,log_cardid) values (#{groupId},#{logTime},#{logPicture},#{logCardId})
    </insert>

    <!--通过身份证查询任务-->
    <select id="queryMyTaskById" resultType="com.telecomyt.zhang.entity.Task">
        select group_id,task_type,task_state,task_main,task_file,task_endtime from db_sheet_task where task_cardid = #{taskCardId}
    </select>
    <!--查询日志-->
    <select id="queryMyLogByGroupId" resultType="com.telecomyt.zhang.entity.Log">
        select group_id,log_time,log_picture,log_cardid from db_sheet_log where group_id = #{groupId}
    </select>
    <!--更改任务状态 0 任务未开始 1 任务已开始 2 任务已结束 3 任务超时 4 任务已拒绝-->
    <update id="updateMyTaskByIdAndGroupId" parameterType="com.telecomyt.item.entity.Task">
        update db_sheet_task
        <set>
            <if test="group_Id!=null">group_id=#{groupId},</if>
            <if test="task_State!=null">task_state=#{taskState},</if>
        </set>
        where task_cardid=#{taskCardId}
    </update>
    <!--删除任务-->
    <delete id="deleteTask" parameterType="String">
    delete from db_sheet_task where task_cardid=#{taskCardId}
    </delete>



</mapper>