<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.telecomyt.item.web.mapper.TaskMapper">
    <!--新增组，处理附件-->
    <insert id="insertGroup" useGeneratedKeys="true" keyProperty="groupId" keyColumn="group_id" parameterType="com.telecomyt.item.entity.TaskGroup">
        insert into db_sheet_group (creator_cardid,sheet_title,sheet_describe,task_endtime,group_fileurl,group_filepath) values (#{creatorCardId},#{sheetTitle},#{sheetDescribe},#{taskEndTime},#{taskFileUrl},#{taskFilePath})
    </insert>
    <!--批量插入-->
    <insert id="insertTask" parameterType="com.telecomyt.item.entity.TaskDo">
        insert into db_sheet_task (task_cardid, group_id, task_type, task_state, task_endtime)
        values
        <foreach collection="taskCardIds" separator="," item="taskCardId" >
            (#{taskCardId},#{groupId},#{taskType},#{taskState},#{taskEndTime})
        </foreach>
    </insert>
    <!--批量插入-->
    <insert id="insertCoperTask" parameterType="com.telecomyt.item.entity.TaskDo">
        insert into db_sheet_task (task_cardid, group_id, task_type, task_state, task_endtime)
        values
        <foreach collection="taskCopierIds" separator="," item="taskCopierId" >
            (#{taskCopierId},#{groupId},#{taskType},#{taskState},#{taskEndTime})
        </foreach>
    </insert>
    <!--&lt;!&ndash;新增任务&ndash;&gt;-->
    <!--<insert id="insertTask" useGeneratedKeys="true" keyProperty="taskId" keyColumn="task_id" parameterType="com.telecomyt.item.entity.Task">-->
        <!--insert into db_sheet_task(task_cardid,group_id,task_type,task_state,task_main,task_endtime,task_file) values (#{taskCardid},#{groupId},#{taskType},#{taskState},#{taskMain},#{taskEndTime},#{taskFile})-->
    <!--</insert>-->
    <!--新增日志，处理上传-->
    <insert id="insertMyLog" useGeneratedKeys="true" keyProperty="logId" keyColumn="log_id" parameterType="com.telecomyt.item.entity.TaskLog">
        insert into db_sheet_log (group_id,log_time,log_cardid,log_type,file_path,file_url,file_tagging) values (#{groupId},#{logTime},#{logCardId},#{logType},#{filePath},#{fileUrl},#{fileTagging})
    </insert>
    <!--新增日志，未处理上传-->
    <insert id="insertLog" useGeneratedKeys="true" keyProperty="logId" keyColumn="log_id" parameterType="com.telecomyt.item.entity.TaskLog">
        insert into db_sheet_log (group_id,log_time,log_picture,log_cardid,log_type) values (#{groupId},#{logTime},#{logPicture},#{logCardId},#{logType})
    </insert>

    <!--&lt;!&ndash;查询个人任务列表&ndash;&gt;-->
    <!--<select id="queryMyTaskById" resultType="com.telecomyt.item.entity.Task">-->
        <!--select a.group_id,a.task_type,a.task_state,a.task_main,a.task_file,a.task_endtime,-->
               <!--b.sheet_title,b.sheet_describe-->
         <!--from db_sheet_task a,db_sheet_group b-->
         <!--where a.group_id = #{groupId}-->
              <!--and b.group_id = #{groupId}-->
              <!--and a.group_id = b.group_id-->
              <!--and a.task_cardid = #{taskCardId}-->

    <!--</select>-->

    <!--查询创建任务列表-->
    <select id="queryMyCreatTask" resultType="com.telecomyt.item.dto.TaskSelect">
        select group_id,sheet_title,sheet_describe,task_endtime,task_type,task_creattime from db_sheet_group where creator_cardid = #{creatorCardId}
    </select>
    <!--查询抄送任务列表-->
    <select id="queryMyAcceptTask" resultType="com.telecomyt.item.dto.TaskSelect">
        select a.task_type,a.task_endtime,b.sheet_describe,b.sheet_title,b.task_creattime
        from db_sheet_task a,db_sheet_group b
        where a.group_id = b.group_id and a.task_copierid = #{taskCopierId}
    </select>
    <!--查询执行任务列表-->
    <select id="queryMyCopperTask" resultType="com.telecomyt.item.dto.TaskSelect">
        select a.task_cardid,a.group_id,a.task_type,a.task_endtime,b.sheet_describe,b.sheet_title,b.task_creattime
        from db_sheet_task a,db_sheet_group b
        where a.group_id = b.group_id and a.task_cardid = #{taskCardId}
    </select>

    <resultMap id="resultMap" type="com.telecomyt.item.dto.TaskDescribe" >
        <id column="group_id" property="groupId"/>
        <result column="sheet_describe" property="sheetDescribe"  />
        <result column="creator_cardid" property="creatorCardId" />
        <result column="task_endtime" property="taskEndTime" />
        <result column="group_fileurl" property="groupFileUrl" />
        <result column="task_creattime" property="taskCreatTime" />
        <collection property="taskLogs" ofType="com.telecomyt.item.entity.TaskLog" >
            <id column="log_id" property="logId"/>
            <result column="file_url" property="fileUrl" />
            <result column="log_type" property="logType" />
            <result column="log_time" property="logTime" />
            <result column="log_cardid" property="logCardId" />
        </collection>
    </resultMap>

    <!--查询任务列表详情-->
    <select id="queryTaskDetailed" resultMap="resultMap">
         SELECT
            b.group_id ,
            b.task_endtime,
            b.sheet_describe,
            b.creator_cardid,
            b.task_creattime,
            b.group_fileurl,
            d.log_id,
            d.log_time,
            d.log_cardid,
            d.log_type,
            d.file_url
        FROM
            db_sheet_group b left join
            db_sheet_log d
            on  b.group_id = d.group_id
        WHERE
              b.group_id = #{groupId}
    </select>

    <!--查询执行人身份照-->
    <select id="queryTaskCardId" resultType="com.telecomyt.item.dto.TaskIdState" >
        SELECT task_cardid, task_state
        FROM db_sheet_task
        WHERE group_id = #{groupId}
        and not ISNULL(task_cardid)
    </select>

    <!--查询抄送人身份照-->
    <select id="queryTaskCopierId" resultType="com.telecomyt.item.dto.TaskIdState" >
        SELECT task_copierid,task_state
        FROM db_sheet_task
        WHERE group_id = #{groupId}
        and not ISNULL(task_copierid)
    </select>

    <!--查询新增任务列表详情-->
    <select id="queryNewTask" resultType="com.telecomyt.item.entity.Task">
         select a.group_id,a.task_type,a.task_state,a.task_endtime,b.task_creattime,
               b.sheet_title,b.sheet_describe,b.group_fileurl
          from db_sheet_task a,db_sheet_group b
          where a.group_id = b.group_id
               and a.task_cardid = #{taskCardId} and (a.task_state = 0)
    </select>
    <!--查询其它任务列表详情-->
    <select id="queryOtherTask" resultType="com.telecomyt.item.entity.Task">
         select a.group_id,a.task_type,a.task_state,a.task_endtime,b.task_creattime,
               b.sheet_title,b.sheet_describe
          from db_sheet_task a,db_sheet_group b
          where
                a.group_id = b.group_id
               and a.task_cardid = #{taskCardId} and (task_state = 1 or task_state = 2)
    </select>
    <!--查询日志-->
    <select id="queryMyTaskLogById" resultType="com.telecomyt.item.entity.TaskLog">
        select group_id,log_time,log_type,log_cardid,file_url,file_tagging from db_sheet_log where group_id = #{groupId}
    </select>
    <!--更改任务状态 0 任务未开始 1 任务已开始 2 任务已结束 3 任务超时 4 任务已拒绝-->
    <update id="updateMyTaskByIdAndGroupId" parameterType="com.telecomyt.item.entity.Task">
        update db_sheet_task
        <set>
            <if test="taskState!=null">task_state=#{taskState},</if>
        </set>
        where task_cardid=#{taskCardId} and group_id=#{groupId}
    </update>
    <!--删除任务-->
    <delete id="deleteTask">
    delete from db_sheet_task where task_cardid=#{taskCardId} and group_id=#{groupId}
    </delete>
    <!--删除任务日志-->
    <delete id="deleteTaskLog">
    delete from db_sheet_log where group_id=#{groupId}
    </delete>

    <!--按照身份证和时间去查询任务-->
    <select id="getTaskByCardIdAndDate" resultType="com.telecomyt.item.dto.TaskVo">
        SELECT
            a.group_id,
            a.task_type,
            a.task_state,
            a.task_main,
            a.task_file,
            a.task_endtime,
            b.sheet_title ,
            b.sheet_describe
            b.task_creattime
        FROM
            db_sheet_task a,
            db_sheet_group b
        WHERE a.group_id = b.group_id
        AND (a.task_cardid = #{cardid} or a.task_copierid = #{cardid})
        AND a.task_endtime BETWEEN #{startTime} AND #{endTime}
     </select>


</mapper>